* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}
.navbar {
  display: flex;
  background: rgba(15, 15, 15, 0.808);
  color: #ffffff;
  min-height: 4vh;
  display: flex;
}
.link {
  font-size: 1.8vh;
  color: #ffffff;
  margin-right: 2vw;
  margin-top: 0.5vh;
  margin-left: 2vh;
  text-decoration: none;
}
.calendar-container {
  height: 80vh;
  width: 80vw;
  margin-left: 10vw;
  margin-top: 5vh;
}
.colorKey {
  background-color: #00000088;
  padding: 1px;
  cursor: pointer;
  margin-left: 4px;
  width: 5vw;
  color: white;
}

.colorKeyContiner {
  background-color: rgba(255, 255, 255, 0.5);
  border: 3px white solid;
  width: 12vw;
  height: 7vh;
  align-items: center;
  margin-top: 2vh;
  margin-left: 2vw;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
